img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: solid rgb(255, 255, 255);
  border-radius: 50px;
}

body{
  font-family: Arial;
   font-weight:bold;
}

.container{
  display: grid;
  width: 490px;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 1px 1px 6px lightgray;
  padding-left: 30px;;
  height:500px;
}

.box{
 margin-top: 10px;
 margin-bottom: 0;
 color:rgb(148, 148, 148);
}

.img-txt{
  display: flex;
  flex:1;
  margin-top: 0px;
}

img{
  object-fit: cover;
}

.txt-1{
  display:flex;
  flex-direction: column;
  flex:1;
}

.time{
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex:1;
  margin-right: 20px;
  color:rgb(148, 148, 148);
  font-weight: normal;
  font-size:17px;
}

.txtd{
  display: flex;
  flex-direction: row;
  font-weight:bold;
  margin-top: 10px;
  font-size: 20px;
}

.t{
  margin-top: 9px;
  font-size: 20px;
  margin-bottom: 0;
}

.r{
  margin-top: 9px;
   color:rgb(148, 148, 148);
   font-size: 15px;
}