.Me{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
  vertical-align: middle;
}

.tweet{
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
 
.Tweet{
  background-color: rgb(94, 136, 234);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 20px;
  border-color: rgb(94, 136, 234);
  border-style: solid;
  transition: box-shadow 0.3s ease-in-out;
}

.Tweet:hover{
  box-shadow: 2px 3px 5px black;
  transition: box-shadow 0.3s ease-in-out;
}
