.code{
  font-family: Arial;
  font-size:15px;
  font-weight: bold;
  margin-bottom: 0;
}

.code2{
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  color:rgb(111, 113, 113)
}

.code3{
  font-family: Arial;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 5px;
}

.code4{
  font-family: Arial;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 14px;
}

.coded5{
  font-family: Arial;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 14px;
  color: rgb(1, 173, 173);
}