button{
  background-color: rgb(255,216,20);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 16px;
  border-color: rgb(255,216,20);
  border-style: solid;
}

button:hover {
  background-color: rgb(234, 196, 6);
  transition: background-color 0.5s ease-in-out;
}